body{
	background-color: #b31aff;
	font-size: 30px;
}

form{
	;
	width: 100%;
}

label{
	float: left;
	width: 10em;
	margin-right: 1em;
}

fieldset{
	background-color:  #009999
}

ul{
	list-style: none;
}

#button1{
	text-align: center;
}