body {
	background-image: url("asset/home_img.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
    position: absolute;
}

.wrapper {
	font-size: 40px;
}

.heading { 
	color: blue;
	align-content: center;
	height: 100%;
  	width: 100%;
  	display: flex;
  	position: fixed;
  	align-items: center;
  	justify-content: center;
}


#pageTitle {
	color: blue;
}


body {
	background-image: url("asset/home_img.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
    position: absolute;
}