@font-face {
  font-family: "verdemoderna";
  src: local("verdemoderna"), url("verdemoderna.woff") format("woff");
}


h2,
p {
  color: #555;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #0087cc;
}
a:hover {
  color: #ff7b29;
}
h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 6px;
}
.byline {
  color: #9799a7;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  margin-bottom: 18px;
}

.customized{
  font-family: verdemoderna;
  text-align: center;
 
  text-indent: 20px
}

.type1{
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  text-decoration: underline;
 }

.type2{
    text-decoration: none !important;
    color:blue;
    font-size: 23px;
}

.type2:hover{
      color: orange;
      font-size: 175%;
      line-height: 30px;
} 