img {
  height: 200px;
  width: 200px;	
}


.type1 {

  display: block;
  
}

.type2 {
  background: #eaeaed;
  border: 1px solid #9799a7;
  float: left;
  margin: 8px 0 0 20px;
  padding: 4px;
  height: 200px;
  width: 200px;
  
}

body{
	display: flex;
	flex-direction:column;
	font-size: 24px;
	background-color: red;
}

video{
	height: 200px;
	width: 200px;
}

audio{
  padding-top:5px;
}