
body{
	background-color: #f2f2f2;
}
table{
	margin-bottom: 20px;
	margin-top: 40px;
	border-collapse: collapse;
	border:1px solid black;
	padding:30px;
	height: 100%;
	width:100%;
	background-color: #ffffff;
	
}


th{
  padding-left: 20px;
}


th,td{
	padding: 20px;
    text-align: right;
    border-bottom:1px solid black;
}
.index{
	text-align: left;
}