body{
	margin:0px;
}
header{
	display: flex;
	background-color:#737373;
	height: 70px;
}

header h2{
	margin-left: 10px;
}
.main_section{
	display: flex;
	flex-direction: row;

}
.main_section{
background-color: #e6e6e6;
border-style: initial;
border-color: #737373;
}


.footer_info{
	background-color:#737373;
	height: 70px;

}

.article2 h1{

text-decoration: underline;
}


.article3 h1{
	
text-decoration: underline;
}